@charset "UTF-8";

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222;
    background-image: url(img/ambipar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.login-box {
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    max-height: 400px;
    height: 40%;
    max-width: 400px;
    width: 20%;
    padding: 15px;
    margin: auto;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    pointer-events: auto;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    
}

input {
    padding: 10px;
    width: 60%;
    margin-bottom: 25px;
    font-size: 1.0rem;
    border: none;
    border-bottom: 1px solid #a8a9a897;  
    outline: none; 
}

input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #B5DF4C;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    width: 100%;
    background-color: #B5DF4C;
    color: #f9f9f9;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
   box-shadow: 2px 1px 3px 2px #2a2a2aa0;
}

@media (max-width: 768px) {
    html, body {
        background: linear-gradient(to bottom, rgb(52, 52, 52) 23%, #000000 91%);
        }
   .login-box {
        height: 40%;
        width: 80%;
    }
}

@media (max-width: 480px) {
    html, body {
        background: linear-gradient(to bottom, rgb(52, 52, 52) 23%, #000000 91%);
    }
    .login-box {
        height: 40%;
        width: 80%;
    }
}