@charset "UTF-8";

/* ==============================
   Estilo Geral
============================== */
html,body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #d4ff00;
    padding: 15px;
}

header .nuvem {
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.6em;
    white-space: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
    text-align: center;
}

header .info {
    display: flex;
    gap: 20px;
    font-size: 0.95em;
}

header .info p {
    margin: 0;
    padding: 0;
    border-left: 2px solid #d4ff00;
    cursor: pointer;
    transition: color 0.3s;
    padding-left: 10px;
}

header .info p:hover {
    color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}


.botoes-header {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.user-menu {
    position: relative;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: none;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: none;
    padding: 5px 10px;
}

.dropdown.active {
    display: block;
}

.logout-btn {
    background-color: #d4ff00;
    color: #212121;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.logout-btn:hover {
    background-color: #b3d400;
    color: #f5f5f5;
}


.container {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #d4ff00 2px solid;
}

.materiais h2 {
    margin-top: 0;
    color: black;
    text-align: center;
}

.barra-pesquisa {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.pesquisar {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.filtro-tipo {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.filtro-tipo label {
    font-weight: bold;
    color: #212121;
}

.select-tipo {
    background: white url("img/seta.png") no-repeat right 10px center;
    color: #212121;
    padding: 10px 50px 10px 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #212121;
    border-radius: 15px;
    cursor: pointer;
    appearance: none;
    background-size: 12px;
    min-width: 220px;
}

.select-tipo:hover {
    background-color: #f0eeeed5;
}

.select-tipo:focus {
    outline: none;
    box-shadow: 0 0 5px #212121;
}

.select-tipo option {
    background-color: white;
    color: #212121;
}

.select-tipo option:hover {
    background-color: #f0eeeed5;
}

.btn-pesquisar {
    padding: 20px 1.5rem;
    font-weight: 700;
    background: white url("img/lupa.png") no-repeat center left 4px;
    align-items: right;
    color: #212121;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px solid #212121;
    background-size: 18px;
    display: flex;
}

.btn-pesquisar p,
.btn-limpar p {
    margin: auto;
    padding-left: 10px;
    text-align: right;
}

.btn-limpar {
    padding: 20px 1.5rem;
    font-weight: 700;
    background: white url("img/lixo.png") no-repeat center left 4px;
    display: flex;
    color: #212121;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px solid #212121;
    background-size: 18px;
}

.btn-pesquisar:hover, .btn-limpar:hover {
    box-shadow: #212121 2px 5px;
}

.btn-pesquisar:active, .btn-limpar:active {
    box-shadow: #212121 0px 2px;
    transform: translateY(2px);
}


/* ==============================
   Cards dos Materiais
============================== */
.lista_materiais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.lista_materiais > div {
    margin: 10px;
    gap: 10px;
    background-color: white;
    border: 2px solid #d4ff00;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
}

.lista_materiais h3 {
    margin-top: 0;
    color: black;
}

.lista_materiais p {
    margin: 10px 0;
    color: #333;
}

.lista_materiais img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.lista_materiais button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #d4ff00;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.lista_materiais button:hover {
    background-color: #b3d400;
    color: white;
}

/* ==============================
   Badges de Estoque
============================== */
.badge {
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

/* ==============================
   Modal
============================== */
/* ===== Modal (Fundo) ===== */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.8);
    overflow: auto;
    padding: 20px; 
}

/* ===== Modal Conteúdo ===== */
.modal-content {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    position: relative;
    color: #212121;
    font-family: Arial, sans-serif;
}

/* ===== Botão Fechar (X) ===== */
.close-btn {
    color: #212121;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

/* ===== Título ===== */
.modal-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* ===== Texto de Itens, Serial, etc. ===== */

.modal-content .campo-preenchimento {
    margin: 10px 0;
}

.modal-content .campo-preenchimento label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #212121;
    font-size: 14px;
}

.modal-content .campo-preenchimento span {
    width: 50%;
    padding: 6px 8px;
    display: block;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 2px solid #d4ff00;
    outline: none;
    font-size: 13.5px;
}

.modal-content .campo-preenchimento input {
    width: 50%;
    padding: 6px 8px; 
    border: 2px solid #d4ff00;
    border-radius: 8px;
    background-color: #f8f8f8;
    outline: none;
    font-size: 13.5px; 
}

.modal-content .campo-preenchimento input:focus {
    border-color: #a9cc00;
}
/* ===== Botões ===== */
.botoes-modal {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.btn-confirmar {
    background-color: #d4ff00;
    color: #212121;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: 0.2s;
}

.btn-confirmar:hover {
    background-color: #c0e800;
}

.btn-cancelar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: 0.2s;
}

.btn-cancelar:hover {
    background-color: #d32f2f;
}

footer {
    background-color: #d4ff00;
    color: #212121;
    text-align: center;
    width: 100%;
    display: block;
    padding: 9px 0;
    white-space: nowrap;
}


/* ==============================
   Responsividade
============================== */
/* ========== Tablets (até 1024px) ========== */
@media (max-width: 1024px) {
    header .nuvem {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    header .info {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .botoes-header {
        position: static;
        justify-content: flex-end;
        width: 100%;
    }
}

/* ========== Celular intermediario (até 768px) ========== */
@media (max-width: 768px) {
    header .nuvem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        justify-content: center;
    }

    header h1 {
        font-size: 1.3em;
    }

    header .info {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .botoes-header {
        position: static;
        justify-content: center;
        margin-top: 10px;
    }

    .barra-pesquisa {
        flex-direction: column;
        gap: 8px;
    }

    .btn-pesquisar, .btn-limpar {
        width: 100%;
    }

    .filtro-tipo {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .select-tipo {
        width: 100%;
        min-width: unset;
    }

    .container {
        margin: 10px;
        padding: 15px;
    }

    .modal-content {
        width: 90%;
        padding: 20px;
    }

    .user-img {
        width: 35px;
        height: 35px;
    }

    .logout-btn {
        padding: 8px 12px;
    }
    footer {
        padding: 5px 0;
        font-size: 0.8em;
        white-space: nowrap;
    }
}

/* ========== J7 DA SUAYANE (até 480px) ========== */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.1em;
    }

    .info p {
        font-size: 0.9em;
    }

    .btn-pesquisar, .btn-limpar {
        padding: 0.8rem 1.5rem;
    }

    .btn-confirmar, .btn-cancelar {
        padding: 8px 16px;
        width: 100%;
    }

    .badge {
        font-size: 0.7em;
        padding: 4px 8px;
    }

    .modal {
        padding: 10px;
    }

    .modal-content {
        margin: 30% auto;
        padding: 15px;
        max-width: 90%;
    }

    footer {
        padding: 3px 0;
        font-size: 0.5em;
        white-space: nowrap;
        
    }
}

