{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class="background-container">
        <img src="{% static 'img/ambipar.png' %}" alt="Ambipar Background" class="background-img">
    </div>

    <div class="login-box">
        <picture>
            <source media="(max-width:600px )" srcset="{% static 'img/logo_grupo_mobile.png' %}" type="image/png">
            <img src="{% static 'img/logo_grupo_tablet.png' %}" alt="Logo Ambipar">
        </picture>
        <p>Por favor, faça o login</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
